/.ipynb_checkpoints
/bayad chek she iris with Decision Tree .ipynb
/comparing Deeplearning vs logistic regression on diabetes dataset.ipynb
/Cross Validation + svm LR RF.ipynb
/Decision Tree Titanic.ipynb
/DecisionTreepenguins df .ipynb
/deep learning on Sklearn dataset digits.ipynb
/Email spam detection.ipynb
/example of linear regression.ipynb
/Gridsearch and tuning Hyperparameters and Models.ipynb
/how to create a quadradic equation.ipynb
/KMeans clustering digits dataset.ipynb
/KMeans clustering iris dataset.ipynb
/KNN classifier digits dataset.ipynb
/Linear Regression excercise home price prediction.ipynb
/Linear Regression excercise job hiring salary prediction LR with multiple features.ipynb
/Linear regression seaborn dataset healthexp regression.ipynb
/LinearRegression Car prices prediction .ipynb
/LinearRegression Car prices prediction 2.ipynb
/LinearRegression co2 emission.ipynb
/LinearRegression diabetes prediction.ipynb
/LinearRegression Heart attack prediction - Copy.py
/LinearRegression Heart attack prediction.ipynb
/LinearRegression NYC wheater temperature predict.ipynb
/LinearRegression Winter Coat Campaign. stored predictionipynb
/LinearRegressionTaxi price prediction .ipynb
/LinRegression Diamonds price prediction.ipynb
/Logistic and D3 Customer Satisfaction in Airline .ipynb
/LogisticRegression DiabetesDataAnslysis.ipynb
/LogisticRegression iris data set Multiclass .ipynb
/LR suspicious.ipynb
/ML Projects.code-workspace
/model_pickle
/naivebayes for wines.png
/NaiveBayes.ipynb
/Practice.ipynb
/RandomForestClassifier for digits dataset.ipynb
/RandomForestClassifier iris dataset .ipynb
/regression mpg.pdf
/regression mpg.png
/sahand.txt
/sahand12.txt
/savewithjoblib.pkl
/SVM digits classification + comparison.ipynb
/tictactoe.ipynb
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled4.ipynb
/wraping up all the algorithms i learned.ipynb